<!doctype html>
<html lang="en">
    <head>
        <title><%= metaTitle %> Webinar | Omaha School of Ministry Webinars</title>
        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
        <script>
            const css = (s) => {
                const sheet = new CSSStyleSheet();
                s.map((rule) => rule.split("\n\n"))
                    .flat()
                    .forEach((rule) => sheet.insertRule(rule));
                return sheet;
            };
        </script>
        <style>
            * {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                "Open Sans", "Helvetica Neue", sans-serif;
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            html, body {
                height: 100%;
            }

            body {
                background: #f8f9fb;
                display: grid;
                grid-template-columns: minmax(0, 200px) minmax(0, 1fr);
            }

            form {

            }

            .card {
                padding: 0 18px;
                border: 1px solid #e2e5e9;
                background: #fff;
                border-radius: 8px;
            }

            .row {
                padding: 24px 0;
            }

            .row:not(:last-child) {
                border-bottom: 1px solid #E5E7EC;
            }

            section {
                width: 100%;
                max-width: 650px;
                margin: 0 auto;
            }

            section h1 {
                margin: 48px 0 24px;
            }

            footer {
                width: 100%;
                padding: 24px 0;
                position: relative;
                display: block;
            }

            footer button {
                padding: 12px 24px;
                appearance: none;
                border-radius: 4px;
                background: #113c7c;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                border: 0;
                margin-left: auto;
                display: block;
            }

            * {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
                padding: 0;
                margin: 0;
            }

            .form-control {
                display: grid;
                grid-template-columns: minmax(0, 150px) 1fr;
                grid-gap: 42px;
                align-items: start;
            }

            .form-control .label {
                display: grid;
                grid-gap: 12px;
                width: 100%;
            }

            .label label {
                font-weight: 700;
                font-size: 14px;
            }

            .label p {
                font-weight: 400;
                font-size: 12px;
                color: #a1a6b2;
            }

            .form-control input,
            .form-control textarea {
                padding: 12px;
                border-radius: 4px;
                border: 1px solid #8e9094;
                background: #fdfdfd;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <%- header %>
        <section>
            <h1><%= metaTitle %> Webinar</h1>
            <form action="/admin/webinars/<%= updateId %>" method="post">
                <div class="card">
                    <div class="row">
                        <div class="form-control">
                            <div class="label">
                                <label for="title">Title</label>
                                <p>The title of the session which will be presented on the landing page.</p>
                            </div>
                            <input required type="text" name="title" id="title" value="<%= values.title %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <div class="label">
                                <label for="description">Description</label>
                                <p>A strong description of the session which will be presented on the landing page and social media.</p>
                            </div>
                            <textarea required rows="6" name="description" id="description"><%= values.description %></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <div class="label">
                                <label for="meeting-link">Meeting Link</label>
                                <p>A Zoom or Google Meet link that will host the webinar.</p>
                            </div>
                            <input required type="text" name="meeting_link" id="meeting-link" value="<%= values.meeting_link %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <div class="label">
                                <label for="start-time">Start Time</label>
                                <p>The start date and time of the event.</p>
                            </div>
                            <input required type="datetime-local" name="starts_at" id="start-time" value="<%= values.starts_at %>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <div class="label">
                                <label for="image">Image</label>
                                <p>The image that will be displayed on the landing page and social media.</p>
                            </div>
                            <input required type="file" name="image" id="image" value="<%= values.image %>">
                        </div>
                    </div>
                </div>
                <% if (updateId !== 'new') { %>
                    <h2>Handouts</h2>
                <% } %>
                <footer>
                    <button type="submit">Save</button>
                </footer>
            </form>
        </section>
    </body>
    <script>
        (() => {
            window.imageKit = new ImageKit({
                publicKey: "public_MU/d1ZVlcTJ5D3wPWo3NE1LcDbU=",
                urlEndpoint: "https://ik.imagekit.io/omasom",
                authenticationEndpoint: "/admin/utils/upload-key",
            });
        })();
    </script>
    <script src="/handle-form.js"></script>
</html>